pipelines/airlinepipeline.json
{
    "name": "airlinepipeline",
    "properties": {
        "activities": [
            {
                "name": "FindDailyFlightFiles",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DailyFlightsSource",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "If Condition1",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "FindDailyFlightFiles",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('FindDailyFlightFiles').output.exists",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "PrintlfDoesNotExists",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "FalseParam",
                                "value": {
                                    "value": "@activity('FindDailyFlightFiles').output.exists",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "PrintlfExists",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "TrueParam",
                                "value": {
                                    "value": "@activity('FindDailyFlightFiles').output.exists",
                                    "type": "Expression"
                                }
                            }
                        },
                        {
                            "name": "DataTransformation",
                            "type": "ExecuteDataFlow",
                            "dependsOn": [
                                {
                                    "activity": "PrintlfExists",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataflow": {
                                    "referenceName": "AirlineDataTransformation",
                                    "type": "DataFlowReference"
                                },
                                "compute": {
                                    "coreCount": 8,
                                    "computeType": "General"
                                },
                                "traceLevel": "Fine"
                            }
                        }
                    ]
                }
            }
        ],
        "variables": {
            "FalseParam": {
                "type": "Boolean"
            },
            "TrueParam": {
                "type": "Boolean"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-09-07T21:33:37Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}